.wrapper {
    display: flex;
    /* padding: 10px; */
}

.wrapper-empPage {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

.column-table {
    border: 1px solid;
    width: 165px;
    text-align: left;
    padding: 10px;
}

.wrapper-dob {
    border: 1px solid;
    min-height: 100vh;
    width: 300px;
}


